<section>
  <div class="page-header">
    <h1>Jobdirs</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="jobdir in vm.jobdirs"
       data-ui-sref="jobdirs.view({ jobdirId: jobdir._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="jobdir.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="jobdir.user" data-ng-bind="jobdir.user.displayName"></span>
        <span data-ng-if="!jobdir.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="jobdir.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.jobdirs.$resolved && !vm.jobdirs.length">
    No Jobdirs yet, why don't you <a data-ui-sref="jobdirs.create">create one</a>?
  </div>
</section>
